<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Flask BlogPost</a>
        </div>
        {% if session['logged_in'] == True %}
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/write-blog/">Write a Blog</a></li>
            <li><a href="/my-blogs/">View My Blogs</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/author/{{session['author'].replace(' ', '.').lower()}}"><span class="glyphicon glyphicon-user"></span> {{ session['author'] }}</a></li>
            <li><a href="/logout/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
        {% else %}
        <ul class="nav navbar-nav">
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/admin/register/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/admin/login/"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
        </ul>
        {% endif %}
    </div>
</nav>