{% extends 'base.html' %} {% block sub_content %}
{%block styling %}
 <style>
.social-icons {
  color:#313437;
  background-color:#fff;
  text-align:center;
  padding:30px 0;
}

.social-icons i {
  font-size:32px;
  display:inline-block;
  color:#757980;
  width:60px;
  height:60px;
  text-align:center;
  line-height:60px;
}
.icon-img img{
    height: 60px;
    border-radius: 50%;
}
.blog-container{
    max-height: 500px;
}
.title-tag{
        text-decoration:none;
        font-family:'Poppins';
        font-weight: bold;
        font-size: 34px;
    }
    .category{
        font-size: 17px;
        font-weight: 600;
        font-family: 'Poppins';
        color: grey;
    }
    .auth-name{
        font-family: 'Poppins';
        font-weight: normal;
        font-size: 21px;
    }
    .TOR{
        font-size: 18px;
        color: #979797;
        font-family: 'Poppins';
    }
@media (min-width:768px){
    .blogs-row {
            max-width: 75%;
        }
    .blog-container{
        height: 331px;
    }
}
@media (min-width:992px)
{

}
 </style>
{% endblock %}
<div class="container" style="margin-top: 65px;">
    <section class=" mx-auto ">
        <div class="d-flex flex-column justify-content-start w-50 pt-5">
            <h1 class="title-tag"> {{ blog.title }}</h1>
            <div class=" pt-3">
                <p class="text-left  category">Category : {{ blog.category }}</p>
            </div>
            
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-md-4 d-flex justify-content-between">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="icon-img">
                            <img alt="yuvi" src="{{url_for('static', filename='assets/yuvi-icon.jpeg')}}">
                        </div>
                        <div class=" ms-2">
                            <p class="m-0 auth-name">{{ blog.author }}</p>
                            <p class="m-0 TOR">Date<span>.time of read</span></p>
                        </div>
 
                    </div>
            </div>
            <div class="col-md-4">
                <div class="social-icons">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </section>
    {% if blog.headerImage %}
    <section class="w-75 d-flex justify-content-center">
        <img src="{{ blog.headerImage }}" alt="headerImage" class="img-fluid">
    </section>
    
    {% endif %}
    <section class="w-75">
        <h2>{{ blog.body }}</h2>
    </section>
    <div class="blogs-row  m-auto">
        <div class="row my-5  m-auto align-items-center justify-content-center" style="background-color: rgb(235, 236, 238);">
            {% for blog in nextBlogs[0:2] %}
                <div class="container col-md-6 py-3 blog-container">
                    {% if blog.headerImage %}
                    <div class="row align-items-center justify-content-center my-4">
                        <div class="col-12">
                            <img src="{{ blog.headerImage }}" alt="headerImage" class="img-fluid">
                        </div>
                    </div>
        
                    {% endif %}
                    <div class="row align-items-center justify-content-center">
                        <div class="col-12">
                            <h2 class=""><a class="title-tag" href="/blog/{{ blog.id }}" style="color: black;">{{ blog.title }}</a></h2>
                            <p class="category">Category : {{ blog.category }}</p>
                            <div class="d-flex align-items-center">
                                <div class="icon-img">
                                    <img alt="yuvi" src="{{url_for('static', filename='assets/yuvi-icon.jpeg')}}">
                                </div>
                                <div class=" ms-2">
                                    <p class="m-0 auth-name">{{ blog.author }}</p>
                                    <p class="m-0 TOR">Date<span>{{ blog.readTime }} mins</span></p>
                                </div>
        
                            </div>
                        </div>
                    </div>
        
            </div>
    
    
            <br> {% endfor %}
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <a href="/"><button type="submit" class="btn btn-explore btn-lg  my-5">See all Blogs</button></a>
    </div>
    </div>
    <br><br>

    <div class="container text-left">
        <p>Posted On : {{ blog.postedOn }}</p>
    </div>

</div>
{% endblock %}