{% extends 'base.html' %} {% block sub_content %} {% block styling %}
<style>
    .container-latest {
        padding: 50px 0;
    }
    
    .icon-img img {
        height: 60px;
        border-radius: 50%;
    }
    .title-tag{
        text-decoration:none;
        font-family:'Poppins';
        font-weight: bold;
        font-size: 34px;
    }
    .category{
        font-size: 17px;
        font-weight: 600;
        font-family: 'Poppins';
        color: grey;
    }
    .auth-name{
        font-family: 'Poppins';
        font-weight: normal;
        font-size: 21px;
    }
    .TOR{
        font-size: 18px;
        color: #979797;
        font-family: 'Poppins';
    }
    
    h2{
        color: black;
    }
    
    @media (min-width:768px) {
        .blogs-row {
            max-width: 75%;
        }
    }
    
    @media (min-width:992px) {}
</style>
{% endblock %}
<div class="container-latest">
    <div class="container pt-5 w-75">

        <div class="row align-items justify-content-around">
            <div class="col-md-6">
                <h1 class="w-75 "><a class="title-tag" href="/blog/{{ blogs[0].id }}" style="color: black;">{{ blogs[0].title }}</a></h1>
                <p class="category">Category : {{ blogs[0].category }}</p>
                <div class="d-flex align-items-center">
                    <div class="icon-img">
                        <img alt="yuvi" src="{{url_for('static', filename='assets/yuvi-icon.jpeg')}}">
                    </div>
                    <div class="auth-name ms-2">
                        <p class="m-0 auth-name">{{ blogs[0].author }}</p>
                        <p class="m-0 TOR">Date<span>{{ blogs[0].readTime }} mins</span></p>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                {% if blogs[0].headerImage %}
                <img src="{{ blogs[0].headerImage }}" alt="headerImage" style="float:right;" height="300px"> {% endif %}
            </div>
        </div>

    </div>
</div>

<div class="blogs-row m-auto">
    <div class="row my-5  m-auto align-items-center justify-content-center" style="background-color: rgb(235, 236, 238);">
        {% for blog in blogs[1:] %}
        <div class="container col-md-6 py-3">
            {% if blog.headerImage %}
            <div class="row align-items-center justify-content-center my-4">
                <div class="col-12">
                    <img src="{{ blog.headerImage }}" alt="headerImage" class="img-fluid">
                </div>
            </div>

            {% endif %}
            <div class="row align-items-center justify-content-center">
                <div class="col-12">
                 <h2 class=><a class="title-tag" href="/blog/{{ blog.id }}" style="color: black;">{{ blog.title }}</a></h1>
                    <p class="category">Category : {{ blog.category }}</p>
                    <div class="d-flex align-items-center">
                        <div class="icon-img">
                            <img alt="yuvi" src="{{url_for('static', filename='assets/yuvi-icon.jpeg')}}">
                        </div>
                        <div class="auth-name ms-2">
                            <p class="m-0 auth-name">{{ blogs[0].author }}</p>
                            <p class="m-0 TOR">Date<span>{{ blogs[0].readTime }} mins</span></p>
                        </div>

                    </div>
                </div>
            </div>

        </div>


        <br> {% endfor %}
    </div>
</div>

{% endblock %}