
/* #highlight{
    color: #62c9d5 !important;
} */
.navbar .navbar-brand{
    font-size: 1.5rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 1rem;
}
.highlight{
    color: #62c9d5;
}
.btn{
    color: white;
}
.nav-item {
    margin: 0rem 1rem;
}
.navbar-light .navbar-nav .nav-link:hover,
.active {
    color: #62c9d5;
    border-bottom: 3px solid #62c9d5;
    /* background-color: rgb(3, 43, 53); */
}
.btn-nav-sign:hover {
    box-shadow: var(--nav-shadow-hover);
}

.btn-nav-sign:active,
.btn-nav-sign:focus {
    transform: scale(0.9);
    box-shadow: var(--nav-shadow-hover);
}